.view {
  /* border-top: 4px solid black; */
  display: flex;
  justify-content: space-evenly;
}

.dashboard {
  padding: 20px;

  flex: 2;
  /* border-right: 4px solid black; */
  display: flex;
  flex-direction: column;
}
.companyDetail{
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: whitesmoke;

}
.companny__det{
  background-color: rgb(223, 231, 231);
  border-left: 5px solid white;
  border-right: 5px solid white;
  margin-bottom: 5px;
  
  
}
.companey{
   text-align: start;
   margin-left: 10px;
   padding: 10px;
   border-bottom: 2px solid white;

}
.update__btn{
  margin: 4px;
  background-color: rgb(2, 163, 2);
  border: none;
  border-radius: 5px;
  width: 100px;
  padding: 10px;
}
.bold{
  color: rgb(2, 56, 59);
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
   /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Cinzel', serif; 
  /* font-family: 'Great Vibes', cursive; */
}
.company__detailStyle{
  color: rgb(2, 56, 59);
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;

}
.company__detail,
.influ__sel__present,
.influ__sel__Next {
  padding: 10px;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.e-commerce {
  flex: 8;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: white;
  padding: 3px;
  font-size: 25px;
  font-family: 'Cinzel Decorative';
  font-weight: 600;
  border: none;
  border-bottom: 2px solid white;
}


.all__dropdown{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  
}
.Language_filter,
.categories_selection,
.pricing_filter {
  width: 12vw;
  padding: 8px;
  margin: 0.2vw;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
}

.search__input {
    width: 35vw;
    background-color: #eff2f5;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
.search__input > input {
    
  border: none;
  background-color: transparent;
  outline-width: 0;
  width: 30vw;
  text-align: center;
}
.influ__feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background-color: rgb(236, 236, 232);
  margin: 2px 1px;
  border: 2px solid white;
  padding: 5px;
  border-radius: 3px;
  /* width: 36vw; */
 
}
.feed {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.profile > img {
  object-fit: cover;
  height: 140px;
  width: 200px;
  /* border-radius: 10px; */
  box-shadow: 0px 0px 5px 0px black;
 
}
.channel__name{
    color: black;
    font-size: 20px;
    font-weight: 600;

}
.channel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 2px;
}
.youtube__sub,.avg__views,.int__Vp,.view__more{
  padding: 10px;
  margin: 3px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  background-color: white;
}
.view__more{
    background-color: rgb(126, 185, 233);
    width: 15vw;
    cursor: pointer;
}
.popup{
    /* position: sticky;
    top: 0;
    left: 0; */
    width: 50vw;
    background-color: rgb(236, 236, 232);
    border: none;
    border-radius: 5px;
}
.close__btn{
    margin-top: 2px;
    padding: 5px 10px;
    background-color: lightgreen;
    border: none;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.view__moreContant{
    width: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(50px, auto);
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

}
.view__moreContant>div{
    background-color: white;
    padding: 10px;
    margin: 10px;
    
}
.pagination__nav{
  width: 100%;
  
}
.pagination{
  margin-top: 5px;
 list-style: none;
  background-color: #eff2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.page-item{
  height: 25px;
  width: 25px;
  background-color: #6384a5;
  margin: 4px;
  padding: 2px;
  

}
.page-link{
  color: black;
  text-decoration: none;
}
 